<script lang="ts">
  import Counter from './lib/Counter.svelte'
  import DangNhap from './lib/DangNhap.svelte';
  import { loginOrSignUpChoosen } from './store/LoginOrSignUpChoosenStore';

</script>

<main>
  <div id="main-layout">
    {#if $loginOrSignUpChoosen}
      <DangNhap />
    {/if}
  </div>
  
  
</main>

<style>

</style>