<script lang="ts">
  import { loginOrSignUpChoosen } from '../store/LoginOrSignUpChoosenStore'

  let isLogin = true;

  if (loginOrSignUpChoosen) isLogin = true;

  function setLoginChoosen() {
    loginOrSignUpChoosen.set('login');
    isLogin = true
  }

  function setSignUpChoosen() {
    loginOrSignUpChoosen.set('signup');
    isLogin = false;
  }

</script>

<div class="flex-column container">
  <div class="flex-row header">
    {#if isLogin}
      <div class="log-in-choosen header-item header-left background-choosen" on:click={setLoginChoosen}>
        Login
      </div>
      <div class="sign-up-choosen header-item header-right" on:click={setSignUpChoosen}>
        Sign up
      </div>
    {:else}
    <div class="log-in-choosen header-item header-left" on:click={setLoginChoosen}>
      Login
    </div>
    <div class="sign-up-choosen header-item header-right background-choosen" on:click={setSignUpChoosen}>
      Sign up
    </div>
    {/if}
  </div>
  <div class="username container-item">
    <input type="text" placeholder="Username">
  </div>
  <div class="email container-item">
    <input type="text" placeholder="Email">
  </div>
  <div class="password container-item">
    <input type="text" placeholder="Password">
  </div>
</div>

<style>
  @import '../style/style.css';
  .container {
    width: 400px;
    height: auto;
    justify-content: center;
  }
  .header {
  }
  .container-item {
    width: 100%;
  }
  .header-item {
    width: 50%;
    height: auto;
    border: 2px black;
    padding: 10px 0px 10px 0px;
  }
  .header-item:hover{
    cursor: pointer;
  }
  .header-left {
    padding-right: 5px;
  }
  .header-right {
    padding-left: 5px;
  }
  .background-choosen {
    background-color: #D3D7D8;
  }
</style>